[Unit]
Description=Application launch booster for NemoMobile Qt Components
After=lipstick.service
Requires=dbus.socket graphical-session-pre.target

[Service]
Type=forking
PIDFile=%t/mapplauncherd/nemomobile.pid
ExecStart=/usr/bin/invoker --type=nemomobile-session /usr/libexec/mapplauncherd/booster-nemomobile --daemon
Restart=always
OOMScoreAdjust=-250

[Install]
WantedBy=graphical-session.target
